body{
    background-image: url(../img/ac.jpg);
}
[class*="foto"]{
    width: 11em;
    height: 11em;
    border: 1px solid black;
    margin:1.6em;
}
.fila1, .fila2, .fila3{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.fotoa,.fotob, .fotoc, .fotod{
    background-image: url(../img/back_mantel.jpg);
}
.fotoc, .fotod, .fotoe, .fotof, .fotog, .fotoh{
    background-repeat: no-repeat;
    background-size: contain;
}
.fotob{
    width: 8em;
    height: 8em;
    margin: 3.1em ;
}
.fotod, .fotof{
    background-size: 75%;
    background-position: center;
    background-color: rgb(226, 224, 224);
}
.fotoe, .fotof{
    background-image: url(../img/dh.jpg); 
}
.fotog{
    background-image: url(../img/dh_2.jpg);
    background-size: 11em;
    background-position: center;
    background-color: rgb(226, 224, 224);
}
.fotoh{
    background-image: url(../img/dh_3.jpg); 
    background-position: center;
    background-color: rgb(226, 224, 224);
}
.fotoi{
    background-color: greenyellow ;
}
.fotoj{
    background-color: darkred ;
}
.fotok{
    background-color: teal ;
}
.fotol{
    background-color: green ;
}